@font-face {
  font-family: "iconfont"; /* Project id 3981536 */
 src: url('./static/iconfont.ttf') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoma:before {
  content: "\e645";
}

.icon-dingdan:before {
  content: "\e646";
}

.icon-shangwu:before {
  content: "\e647";
}

.icon-daka:before {
  content: "\e648";
}

.icon-jiaoyu:before {
  content: "\e649";
}

.icon-sousuo:before {
  content: "\e64a";
}

.icon-kefu:before {
  content: "\e64b";
}

.icon-huiyuan:before {
  content: "\e64c";
}

.icon-shoujihao:before {
  content: "\e64d";
}

.icon-xuexiao:before {
  content: "\e64e";
}

.icon-zhifu:before {
  content: "\e64f";
}

.icon-richeng:before {
  content: "\e650";
}

.icon-wenjian:before {
  content: "\e651";
}

.icon-faqiyuruzhi:before {
  content: "\e652";
}

.icon-quyudingwei:before {
  content: "\e653";
}

.icon-yijianfankui:before {
  content: "\e654";
}

.icon-wode:before {
  content: "\e655";
}

.icon-renzhi:before {
  content: "\e656";
}

.icon-zhuanfatuijian:before {
  content: "\e657";
}

.icon-zhaopinguanli:before {
  content: "\e658";
}

.icon-shanchu:before {
  content: "\e659";
}

.icon-shouye:before {
  content: "\e65a";
}

.icon-xiaoxi:before {
  content: "\e65b";
}

.icon-shezhi:before {
  content: "\e65c";
}

.icon-gouwu:before {
  content: "\e65d";
}

.icon-fangjian:before {
  content: "\e65e";
}

